.viewport {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-hr {
  margin-left: -16px;
  margin-right: -16px;
}

.muted {
  opacity: .5;
}

.cur-pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.mb-10 {
  margin-bottom: 10px;
}
